:root {
    --font-color: #1A194D;
    --light-purple: #62618F;
    --light: #CBCBD9;
    --nav: #F8F8FF;
    --light-orange: #EE6338;
    --darker-orange: #EE4D38;
    --white: #FFFFFF;

}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--light-purple);
    margin: 10px 0 0 50px;
}

.vertical-box {
    position: absolute;
    border-radius: 46px;
    background-color: var(--darker-orange);
    width:  276px;
    height: 950px;
    padding: 50px;
    z-index: -1;
}

#content {
    position: absolute;
    display: flex;
    /* border: 1px solid; */
    border-radius: 30px;
    margin: 30px 60px;
    width: 90%;
    height: 879px;
    z-index: 1;
    background-color: white;
}


/* side navigation  */


#nav {
    background-color: var(--nav);
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 270px;
    height: 879px;
}



/* profile box */
.profile{
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 30px auto;
}

.profile div {
    /* border: 1px solid; */
    margin: 0 15px;
}

.profile h1 {
    color: var(--font-color);
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.profile p {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: var(--light-purple);
}

.profile img {
    background-image: url(https://picsum.photos/seed/picsum/200/300);
    border-radius: 17px;
    width: 55px;
    height: 55px;
}


/* navigation */
ul {
    list-style: none;
}
#nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#nav ul li{
    display: flex;
    margin: 10px auto;
    align-items: center;
    width: 80%;
    padding: 10px;
}

#nav ul li:hover, .logout:hover {
    background-color: var(--light);
    cursor: pointer;
}

#nav ul img, .logout img {
    margin-right: 12px;
    width: 32px;
    height: 32px;
}

#nav ul p, .logout p {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: var(--light-purple);
}

#nav .logout {
    width: 60%;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 25px;
    margin-left: 15px;
}

/* Page */

#page {
    /* border: 1px solid; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0px 80px;
    background-color: #FFFFFF;
}

/* header page */

.header {
    margin-top: -80px ;
    /* border: 1px solid; */
    width: 50%;
}

.header h1 {
    color: #1A194D;
    font-size: 32px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    margin-bottom: 40px;
}

h2,h3  {
    color: #1A194D;
    font-size: 16px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}

h3 {
    font-weight: medium;
    width: 70%;
    margin: 0 25px;
}

.header p, .payment p {
    color: var(--light-purple);
    font-size: 14px;
    font-weight: medium;
    font-family: "Poppins", sans-serif;
}


/* Bills */
.bills {
    /* border: 1px solid; */
    width: 60%;
}

.bills ul {
    margin-bottom: 30px;
}
.bills a {
    color: var(--light-orange);

}
.label {
    width: 92.3%;
    display: flex;
    justify-content: space-between;
}

.label p {
    color: var(--light-purple);
    font-size: 14px;
    font-weight: medium;
    font-family: "Poppins", sans-serif;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    padding: 10px;
}
.info p, .button  {
    color: var(--font-color);
    font-size: 16px;
    font-weight: medium;
    font-family: "Poppins", sans-serif;
}

.button {
    width: 114px;
    height: 40px;
    background-color: inherit;
    border-radius: 8px;
    box-shadow: none;
    border: inherit;
    cursor: pointer;
}

/* Payment */

.payment {
    /* border: 1px solid; */
    width: 60%;
}


.method-payment {
    margin-top: 30px;
    display: flex;
    align-items: center;
}